* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Lobster", cursive, sans-serif;
}
body {
  font-family: "Pattaya", sans-serif;
  background-color: #c67958;
  color: rgb(20, 18, 18);
}
.navBar {
  background-color: #da9578;
}
.text-description {
  margin-top: 5%;
  text-align: center;
  font-family: "Pattaya", sans-serif;
}
.text-center {
  font-family: "Pattaya", sans-serif;
}

.whiter {
  position: relative;
  margin-top: 2%;
  color: #3f0101;
  background-color: transparent;
}
.welcome-section {
  position: sticky;
  height: 350px;
  width: 67%;
  color: #3f0101;
  background-image: linear-gradient(
    to right top,
    #ad5940,
    #e68e6f,
    #c67958,
    #d28965,
    #ad5332
  );
  box-shadow: 10px 5px 6px 20px rgba(14, 13, 13, 0.7);
  border-bottom: 80%;
  border-bottom-right-radius: 50%;
}
.temporary {
  background-color: #ad5940;
  position: sticky;
  border-bottom-right-radius: 50%;
  border-bottom: 80%;
}
.intro {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/home.jpeg");
  background-size: cover;
  background-position: center;
}
.menu {
  position: absolute;
  margin-left: 85%;
  margin-top: 10%;
  width: 180px;
  background-color: transparent;
}
.navData {
  color: #3f0101;
  font-size: 25px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
}
nav a:hover {
  background: #af7868;
  border-radius: 10%;
  width: fit-content;
  color: #d1b2a4;
  text-decoration: none;
  position: relative;
}
.logo {
  background-image: url("./img/afLogo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  margin-top: 2%;
  margin-left: 78%;
}

.product {
  width: 90vw;
  max-width: 1117px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .product {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article img {
  width: 300px;
  height: 200px;
  
}
.article {
  
  background-color: #7a672e;
  color: #da9578;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.productsContainer {
  background-color: #ad5332;
}
