* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
}
.text-center {
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.welcome-section {
  position: sticky;
  height: 350px;
  width: 67%;
  color: #eec9bd;
  background-image: linear-gradient(
    to right top,
    #ad5940,
    #b9694c,
    #c67958,
    #d28965,
    #de9973
  );
  box-shadow: 10px 5px 6px 20px rgba(14, 13, 13, 0.7);
  border-bottom: 80%;
  border-bottom-right-radius: 50%;
}
.temporary {
  background-color: #ad5940;
  position: sticky;
  border-bottom-right-radius: 50%;
  border-bottom: 80%;
}
.intro {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/home.jpeg");
  background-size: cover;
  background-position: center;
}
.menu {
  position: absolute;
  margin-left: 85%;
  margin-top: 10%;
  width: 180px;
  background-color: transparent;
}
.navData {
  color: #eec9bd;
  font-size: 25px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
}
 nav a:hover{
  background: rgb(233, 176, 111);
  border-radius: 10%;
  width: fit-content;
  color: black;
  text-decoration: none;
  position:relative;
 

 
}
.logo {
  background-image: url("./img/afLogo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  margin-top: 2%;
  margin-left: 78%;
}
